.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
  }
.logo img{
  width: 1000px;
  max-width: 100%;
}