@media only screen and (min-width: 768px) {
.slide {
  height: auto; /* Adjust the height as needed */
  width: 100%;
  position: relative; /* Changed to relative */
  margin-bottom: 0; /* Remove any bottom margin */
}

.title-dong{
  width: 100%;
  color: white;
  background-color: rgb(34, 97, 137);
  height: 30px;
  padding: 7px;
}

.title-dong {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.title-dong span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.slide img {
  filter: brightness(100%) blur(0.1px);
  width: 100%;
  height: auto; /* Adjust the height as needed */
  object-fit: cover; /* Ensure the image covers the whole container */
}

.slick-around:next{
  display: none;
}

.search-bar-container{
  width: 100%;
  padding: 30px;
}

.search-bar{
  display: flex;
  padding: 10px;
  background-color: rgb(34, 97, 137);
  margin-top:-1; /* Remove any top margin */
  width: 700px;
  border-radius: 15px;
  margin: auto;
}

.search-bar select {
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
  border-color: #060060;
  font-size: 1em;
  width: auto;
  height: auto;
}

.search-bar button {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1em;
  width: auto;
  height: auto;
}

.search-bar p {
  justify-content: center;
  align-items: left;
  font-size: 1em;
  padding: 5px;
  margin-right: 10px;
  border-radius: 50px;
  color: aliceblue;
}
}

@media only screen and (max-width: 768px) {
  .slide {
    height: auto; /* Adjust the height as needed */
    width: 100%;
    position: relative; /* Changed to relative */
    margin-bottom: 0; /* Remove any bottom margin */
  }
  
  .title-dong{
    width: 100%;
    color: white;
    background-color: rgb(34, 97, 137);
    height: 30px;
    padding: 7px;
  }
  
  .title-dong {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }
  
  .title-dong span {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 25s linear infinite;
  }
  
  @keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
  }
  
  .slide img {
    filter: brightness(100%) blur(0.1px);
    width: 100%;
    height: auto; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image covers the whole container */
  }
  
  .slick-around:next{
    display: none;
  }
  
  .search-bar-container{
    width: 100%;
    padding: 30px;
  }
  
  .search-bar{
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 97, 137);
    margin-top:-1; /* Remove any top margin */
    width: 300px;
    border-radius: 15px;
    margin: auto;
    justify-content: space-around;
  }
  
  .search-bar select {
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    border-color: #060060;
    font-size: 1em;
    width: 250px;
    height: auto;
    margin: auto;
  }
  
  .search-bar button {
    padding: 5px;
    border-radius: 10px;
    font-size: 1em;
    width: 60px;
    height: auto;
    margin: auto;
  }
  
  .search-bar p {
    justify-content: center;
    align-items: left;
    font-size: 1em;
    padding: 5px;
    margin-right: 10px;
    border-radius: 50px;
    color: aliceblue;
    margin: auto;
  }
}