header{
    width: 100%;
    margin: 0;
}
body{
    background-color: rgb(252, 250, 247);
    background-image: url('/img/nenwebsite.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    overflow-y: scroll; /* Đảm bảo nội dung có thể cuộn */
    scrollbar-width: none; /* Ẩn thanh cuộn cho Firefox */
  }
  
  body {
    margin: 0;
  }
  
  /* Ẩn thanh cuộn cho Chrome, Safari v */
  body::-webkit-scrollbar {
    display: none;
  }
  